.unauthorized-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(8, 64, 131);
  color: #fff; 
  padding: 20px;
  text-align: center;
}

.box {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  font-size: 2.5rem; 
  margin-bottom: 20px;
  color: black;
}

p {
  font-size: 1.2rem; 
  color: black; 
}

link {
  background-color: rgb(8, 64, 131);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

link:hover {
  background-color: rgb(7, 73, 154);
}
